<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permintaan Top-Up Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/admin_topup.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Karma' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h1>Permintaan Top-Up</h1>
        <table>
            <tr>
                <th>No</th>
                <th>Username</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for request in requests %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ request.user.username }}</td>
                <td>IDR {{ request.amount|floatformat:0 }}</td>
                <td>
                    {% if request.status == 'Pending' %}
                        <span class="status-pending">Pending</span>
                    {% elif request.status == 'Sukses' %}
                        <span class="status-sukses">Sukses</span>
                    {% elif request.status == 'Approved' %}
                        <span class="status-sukses">Approved</span>
                    {% else %}
                        <span class="status-waiting">Waiting</span>
                    {% endif %}
                </td>
                <td>
                    {% if request.status == 'Pending' %}
                        <a href="{% url 'approve_top_up' request.id %}" class="action-button">Setujui</a>
                        <a href="{% url 'reject_top_up' request.id %}" class="action-button reject">Tolak</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>