<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Profil</title>
</head>
<body>
    <h2>Buat Profil untuk {{ user.username }}</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Menampilkan form dalam bentuk paragraf -->
        <button type="submit">Buat Profil</button>
    </form>
    {% if error_message %}
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>{{ error_message }}</p>
        </div>
    </div>
    <script>
        // Menampilkan modal jika error_message ada
        var modal = document.getElementById("errorModal");
        var span = document.getElementsByClassName("close")[0];

        // Menampilkan modal
        modal.style.display = "block";

        // Menutup modal ketika klik pada 'X'
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Menutup modal jika klik di luar modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    {% endif %}
    <a href="{% url 'home' %}">Kembali ke halaman utama</a>
</body>
</html>